<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE  configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 开启驼峰命名法[将数据库中以下划线的列名转换为驼峰命名，
        例如：数据库中user_name，mybatis就转换为userName] -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 为了避免本该延迟加载的属性直接加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <!-- 对应类的全路径 -->
        <package name="zh.mybatis.domain"/>
    </typeAliases>
    <environments default="development ">
        <environment id="development ">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis" />
                <property name="username" value="root" />
                <property name="password" value="000000"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- mapper的包路径+xml文件 -->
        <!-- 如果用package这种简便的方式去处理接口和mapper.xml的话，需要mapper.xml的存放路径跟class保持一致 -->
        <package name="zh.mybatis.dao"/>
        <!-- 这种方式就不是必须要跟class的包名保持一致了，但是要注意mapper.xml中的namespace命名空间 -->
        <!--<mapper resource="mapper/CountryMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/PrivilegeMapper.xml"/>
        <mapper resource="mapper/UserRoleMapper.xml"/>
        <mapper resource="mapper/RolePrivilegeMapper.xml"/>-->
    </mappers>
</configuration>
